.topMenu {
	margin: 10px;
	margin-bottom: 20px;

}

.next

.addressText {

	height: 150px;
}

.address {
	margin-left: 20px;
}

.qr {
	text-align: center;
	width: 100%;
	margin-bottom: 50px;
}

.input-size {
	width: 500px;
}